@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color:#96cf12;
    --primary-color-hover: #c05a1f;
    --secondary-color: #1a7024;
    --dark-color: #b20787;
    --light-color: #F5F5F5;
    --white-color: #FFFFFF;
    --text-color: #333333;
    --gray-color: #837a7a;
    --shadow: 0 4px 6px rgba(99, 95, 95, 0.1);
    --transition: all 0.3s ease;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--light-color);
}

a {
    text-decoration: none;

}

header {
    max-width: 1512px;
    margin: 0 auto;
    padding: 63px 106px 43px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--dark-color);
    font-weight: 900;
            }


.logo span {
        color: var(--primary-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 35px;
}

nav a {
    color: black;
    font-size: 20px;
}

.nav__link {
    font-weight: 600;
    position: relative;
    padding: 5px 0;
    transition: var(--transition);
}

.nav__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition);
}


button {
    background: #b20787;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 70px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.lang {
    display: flex;
    align-items: center;
    gap: 3px;
}

.burger-btn {
    background: transparent;
    padding: 0;
    display: none;
}

.hero {
    height: 981px;
    background: linear-gradient(rgba(105, 16, 44, 0.158), rgba(65, 57, 59, 0.7)), url(../images/herotask5.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 139px;
}

.hero-choose {
    padding: 24px 20px;
    width: 235px;
    height: 99px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    border-radius: 8px;
       
}

.hero-choose:nth-child(1) {
       background: linear-gradient(60deg, #2ace24 10%, #383f68 50%, #089a86 100%);
}

.hero-choose:nth-child(2) {
    background: linear-gradient(60deg, #b5ce24 10%, #684738 50%, #9a0876 100%);
}

.hero-choose:nth-child(3) {
    background: linear-gradient(60deg, #ce242d 10%, #656838 50%, #47089a 100%);
}

.hero-choose h4 {
    line-height: 160%;
}

.hero-choose select {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;

}

.hero button {
    height: 100px;
    padding: 20px;
}

.about-us {
    margin: 100px auto;
    max-width: 1080px;
    padding: 0px 30px;
    line-height: 150%;
    text-align: center;
}

h2 {
    font-size: 55px;
    color: #888;
    font-family: "Lora", serif;
    font-weight: 700;
    line-height: 150%;
    text-align: center;

}

.about-us p {
    margin: 30px 0px;
}

.our-events {
    text-align: center;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1300px;
    margin: 25px auto;
    gap: 20px;
}

.card {
    position: relative;
}

.card-date {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.card-date-day {
    font-size: 20px;
}


.card img {
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.card-body {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
}

.card-body h4 {
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
}

.contact-us {
    max-width: 940px;
    margin: 100px auto;
    padding: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.contact-form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 100px;
}

.contact-form-fields input {
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 0px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 100px;
    border: 1px solid black;
    outline: none;
}

.contact-form button {
    width: 235px;
    display: block;
    margin: 0 auto;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;}
    
   

.reviews {
    padding: 80px 0;
    background-color: var(--light-color);
}

.reviews__slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.review {
    background-color: var(--white-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.review:hover {
    transform: translateY(-5px);
}

.review__rating {
    color: rgb(241, 241, 7);
    margin-bottom: 15px;
}

.review__text {
    font-style: italic;
    margin-bottom: 20px;
    position: relative;
}

.review__text::before {
    content: '';
    font-size: 3rem;
    color: var(--secondary-color);
    position: absolute;
    top: -20px;
    left: -10px;
    opacity: 0.3;
}

.review__author {
    display: flex;
    align-items: center;
}

.review__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.review__name {
    font-weight: 600;
}


footer {
    background: #96cf12; 
    padding: 60px;
}

.footer-body {
    max-width: 1158px;
    margin: 0 auto;
    color: white;
}

.footer-body h3 {
    color: white;
    font-size: 64px;
    text-align: center;
    font-weight: 700;
}

.footer-body-links {
    display: flex;
    justify-content: space-between;
    padding: 65px 0px 30px;
}

.footer-body-links ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.footer-body-links a {
    font-weight: 100;
    color: white;

}

.footer-body-links h4 {
    margin-bottom: 15px;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 24px;
}

.footer-social-media {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0px;
}

.footer-policy {
    display: flex;
    align-items: center;
    gap: 15px;
    border-top: 2px solid white;
    padding: 15px 0px 32px;
}

.footer-policy a {
    color: white;
    font-weight: 100;
}

.rights {
    font-weight: 100;
    opacity: 0.5;
}

.ul-list {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}
@media screen and (max-width: 992px) {
    .burger-btn {
        display: block;
    }

    nav {
        display: none;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card img {
        height: 60vw;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    .hero button,
    .hero-choose {
        width: max(70%, 300px);
    }

    .contact-form-fields {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
    }

    .contact-form {
        gap: 30px;
    }
}


.maptest {
    width: 550px;
    height: 400px;
}

@media screen and (max-width: 1240px) {
.maptest {
    width:500px;
    height: 400px;
}
}

@media screen and (max-width: 1157px) {
.ul-list {
    flex-direction: column;
}

.maptest {
    width:600px;

    height: 400px;
}
}

@media screen and (max-width: 900px) {
.ul-list {
    width: 200px;
}
.maptest {
    width: 400px;

}}


@media screen and (max-width: 780px) {

.maptest {
    width: 100%;

}}
@media screen and (max-width: 656px) {

    .ul-list {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0 30px;

}
    .footer-body-links {
        width: 100%;
        max-width: 500px;
       
        display: flex;
        flex-direction: column;
    }

    .footer-body-links ul {
        margin-bottom: 40px;
    }

    .footer-body-links ul h4 {
        margin: 0;
    }



    .footer-policy,
    .footer-social-media,
    .rights {
        display: none;
    }

    .footer-body h3 {
        font-size: 32px;

    }

}

@media screen and (max-width: 458px) {
    header {
        padding: 30px;
    }

    h2 {
        font-size: 20px;
    }

    .logo {
        font-size: 20px;
    }
     .contacts__inner {
        grid-template-columns: 1fr;
    }

      .contacts__map {
         height: 300px;
            
    }
    .about-us p {
        font-size: 14px;
        margin: 14px 0px;
        color: #5e547a;
    
    }
    
    .card-date {
        width: 70px;
        height: 70px;
        font-size: 16px;
    }
    
    .card-date-day {
        font-size: 20px;
    }
}

